// .container{
//     width: 95%;
//     margin: auto auto 3rem auto;
//     padding: 1rem;
//     border-radius: 1rem;
//     background-color: #efefef;
// }

.b-1{
    border: 3px solid red;
}

.full-width{
    width: 100%;
}

h1,img, p {
    text-align: center;
}

img{
    height: 15rem;
}

.status-prioridade{
    display: flex;
    justify-content: space-between;

    mat-form-field{
        width: 49%;
    }
}

.descricao{
    textarea{
        min-height: 6rem;
        max-height: 10rem;
    }
}

button{
    margin-top: .5rem;
}

p{
    margin-top: 3rem;
    opacity: .5;
}