<button (click)="createPDF()">Baixar Laudo</button>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm-12 mx-auto">
            <div id="laudoTemplate" #laudoTemplate class="container-a4 mx-auto">
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <td>
                                <div class="row">
                                    
                                    <div class="col-sm-5">
                                        <p>Laudo: <b>1</b></p>
                                        <p>Nome do Animal: <b>Thor de Leão</b></p>
                                        <p>Região do exame: <b>Abdomen</b></p>
                                        <p>Veterinário solicitante: <b>Dr. Rossi</b></p>
                                        <p>Clinica: <b>Amar Diagnostico</b></p>
                                        <p>Data do Exame: <b>22/11/2023</b></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <p>Idade: <b>1</b></p>
                                        <p>Raça: <b>Pitbull</b></p>
                                        <p>Espécie: <b>Cachorro</b></p>
                                        <p>Sexo: <b>Macho</b></p>
                                        <p>Responsável: <b>Maria Helena</b></p>
                                        <p>Data do Estudo: <b>11/11/2023</b></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


