<button (click)="createPDF()">Baixar Laudo</button>
<br>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="laudoTemplate" #laudoTemplate>
                <div class="bar-header"></div>
                <div class="container">
                    <div class="row header-pdf">
                        <div class="col-sm-3">
                            <img src="../../../../assets/img/logo_login2.svg" alt="teste" class="img-logo" >
                        </div>
                        <div class="col-sm-4">
                            <p>Nº LAUDO: <b>id</b></p>
                            <p>NOME DO ANIMAL: <b>nomePaciente</b></p>
                            <p>REGIÃO EXAME: <b>regiaoExame</b></p>
                            <p>VETERINÁRIO SOLICITANTE: <b>medicoRequerente</b></p>
                            <p>CLINICA: <b>nomeClinica</b></p>
                            <p>DATA DO EXAME: <b>dataEstudo</b></p>
                        </div>
                        <div class="col-sm-4">
                            <p>IDADE: <b>idade</b></p>
                            <p>RAÇA: <b>raca</b></p>
                            <p>ESPECIE: <b>especie</b></p>
                            <p>SEXO: <b>sexo</b></p>
                            <p>RESPONSAVEL: <b>responsavelPaciente</b></p>
                            <p class="pb-2">DATA DE NASCIMENTO: <b>dataNascimento</b></p>
                        </div>
                    </div>
                    
                    <div class="divisor"></div>
                    
                    <div class="row ">
                        <div class="col-sm-12">
                            <div class="body-pdf">
                                <h1>
                                    Regiões
                                </h1>
                                <p>
                                    Tórax
                                </p>

                                <h1>
                                    Projeções
                                </h1>
                                <p>
                                    Laterolaterais e ventrodorsal.
                                </p>

                                <h1>
                                    Achados radiográficos
                                </h1>
                                <p>
                                    Lúmen e trajeto traqueal mantidos.
                                    Campos pulmonares dentro do limite da normalidade radiográfica.
                                    Silhueta cardíaca sem alterações dignas de nota.
                                    Diafragma íntegro.
                                    Partes ósseas preservadas. 
                                    Demais regiões passiveis de avaliação dentro do limite da normalidade radiográfica.

                                </p>

                                <h1>
                                    Impressões diagnósticas. 
                                </h1>
                                <p>
                                    Imagens dentro do limite da normalidade radiográfica.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="page-break"></div>
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <div class="img-container">
                                    <img src="../../../../assets/img/DX001232_3.jpg" alt="" srcset=""  #img1>
                                </div>
                                <div class="page-break"></div>

                                <div class="img-container">
                                    <img src="../../../../assets/img/DX001232_3.jpg" alt="" srcset=""  #img2>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>



