<div class="container">

    <h1>Listando Clinicas</h1>

    <mat-grid-list cols="12" gutterSize="30px" rowHeight="100px">

      <mat-grid-tile [colspan]="6" [rowspan]="1">
        <mat-form-field appearance="standard">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Clinica da esquina" #input>
        </mat-form-field>
      </mat-grid-tile>
  
      <mat-grid-tile [colspan]="6" [rowspan]="1">
        <div class="d-flex justify-content-right w-100">
          <button mat-raised-button color="primary" routerLink="create">Novo Clinica</button>
        </div>
      </mat-grid-tile>
  
    </mat-grid-list>
  
      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
        
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef> Responsável </th>
              <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="nomeClinica">
              <th mat-header-cell *matHeaderCellDef> Nome Clinica</th>
              <td mat-cell *matCellDef="let element"> {{element.nomeClinica}} </td>
            </ng-container>
        
            <ng-container matColumnDef="cnpj">
              <th mat-header-cell *matHeaderCellDef> CNPJ </th>
              <td mat-cell *matCellDef="let element"> {{element.cnpj}} </td>
            </ng-container>
        
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> E-mail </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
  
            <ng-container matColumnDef="acoes">
              <th mat-header-cell *matHeaderCellDef> Ações </th>
              <td mat-cell *matCellDef="let element"> 
                <a routerLink="update/{{ element.id }}">
                  <i class="material-icons edit">edit</i>
                </a>  
                <a routerLink="delete/{{ element.id }}">
                  <i class="material-icons delete">delete</i>
                </a> 
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons 
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>    
  </div>