<div class="container">
    <form class="form mat-elevation-z8">
        <h1>Login</h1>

        <img src="assets/img/logo_login2.svg" alt="Help Laudo - By Jonh Ré">

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input [formControl]="email" required [(ngModel)]="creds.email" name="email" matInput placeholder="fulano@mail.com">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Senha</mat-label>
            <input [formControl]="senha" required [(ngModel)]="creds.senha" name="senha" type="password" matInput placeholder="123">
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
      
        <button [disabled]="!validaCampos()" (click)="logar()" class="full-width" mat-raised-button color="primary">LOGAR</button>

        <p class="assign">Desenvolvido por João Ré</p>
      </form>    
</div>