.container-custom{
    height: 100%;
    background-color: #96C3C8;
}

.sidenav{
    width: 13rem;
    color: #F4FEFF;
    background-color: #183942;

    a{
        color:#F4FEFF;
    }
    
    i{
        margin-right: .6rem;
        color: #96C3C8;
    }
}

img{
    width: 100%;
    height: 7rem;
    margin: .8rem auto 1rem auto;
}

.menu{
    margin: 1rem 0 0 1rem;
    color: #F4FEFF;
    background-color: #183942;
}

.sidenav-content{
    background-color: #96C3C8;
    height: 100%;
}


.menu-header{
    background-color: #183942;
    color: #F4FEFF;
    margin-bottom: 2rem;
}


