
<mat-drawer-container class="container-custom" autosize>
    <mat-drawer #drawer opened class="sidenav" mode="side">
        <img src="assets/img/logo_login2.svg" alt="Imagem de navegação">
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="home">
            <i class="material-icons">home</i>
            Home
        </a>
        <a mat-list-item routerLink="tecnicos" *ngIf="userRole === 'ROLE_ADMIN'">
            <i class="material-icons">account_circle</i>
            Veterinários
        </a>
        <a mat-list-item routerLink="clinicas" *ngIf="userRole === 'ROLE_ADMIN'">
          <i class="material-icons">person</i>
          Clientes
        </a>
        <a mat-list-item routerLink="laudos" *ngIf="userRole !== 'ROLE_CLIENTE'">
          <i class="material-icons">assignment</i>
          Laudos
        </a>
        <a mat-list-item routerLink="chamados">
          <i class="material-icons">support</i>
            Meus Chamados
        </a>
        <a mat-list-item (click)="logout()">
            <i class="material-icons">logout</i>
            Sair
        </a>
      </mat-nav-list>
    </mat-drawer>
  
    <div class="sidenav-content">
      <app-header></app-header>
      <mat-toolbar class="menu-header">
        <button mat-icon-button class="icon" aria-label="icon-button with menu icon" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Boas vindas, {{userName}}</span>
        <span class="spacer"></span>
      </mat-toolbar>
    
      <router-outlet></router-outlet>
    </div>
  
</mat-drawer-container>
