<div class="container">
    <div class="row">
        <div class="col-sm-12 text-right mb-2">
            <button mat-raised-button color="primary" (click)="createPDF()">Baixar Laudo</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="laudoTemplate" #laudoTemplate>
                <div class="bar-header"></div>
                <div class="container">
                    <div class="row header-pdf">
                        <div class="col-sm-3">
                            <img src="../../../../assets/img/logo_login2.svg" alt="teste" class="img-logo" >
                        </div>
                        <div class="col-sm-4">
                            <p>Nº LAUDO: <b>{{laudo.id}}</b></p>
                            <p>NOME DO ANIMAL: <b>{{chamado.nomePaciente}}</b></p>
                            <p>REGIÃO EXAME: <b>{{chamado.regiaoExame}}</b></p>
                            <p>VETERINÁRIO SOLICITANTE: <b>{{chamado.medicoRequerente}}</b></p>
                            <p>CLINICA: <b>{{chamado.nomeClinica}}</b></p>
                            <p>DATA DO EXAME: <b>{{chamado.dataEstudo}}</b></p>
                        </div>
                        <div class="col-sm-4">
                            <p>IDADE: <b>{{chamado.idade}}</b></p>
                            <p>RAÇA: <b>{{chamado.raca}}</b></p>
                            <p>ESPECIE: <b>{{chamado.especie}}</b></p>
                            <p>GÊNERO: <b>{{chamado.sexo}}</b></p>
                            <p>RESPONSAVEL: <b>{{chamado.responsavelPaciente}}</b></p>
                            <p class="pb-2">DATA DE NASCIMENTO: <b>{{chamado.dataNascimento}}</b></p>
                        </div>
                    </div>
                    
                    <div class="divisor"></div>
                    
                    <div class="row ">
                        <div class="col-sm-12">
                            <div class="body-pdf">
                                <h1>
                                    Regiões
                                </h1>
                                <p>
                                    {{ chamado.regiaoExame }}
                                </p>

                                <h1>
                                    Projeções
                                </h1>
                                <p>
                                    {{laudo.projecoes}}
                                </p>

                                <h1>
                                    Achados radiográficos
                                </h1>
                                <p>
                                    {{laudo.achadosRadiograficos}}
                                </p>

                                <h1>
                                    Impressões diagnósticas. 
                                </h1>
                                <p>
                                    {{laudo.impressoesDiagnosticas}}
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="page-break"></div>
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div *ngFor="let urlImage of base64Images">
                                <div class="img-container">
                                    
                                    <img class="s3-img" [src]="urlImage" alt="">
                                </div>
                                <div class="page-break"></div>
                            </div>  
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>